Linux64
Darwin
Linux
IRIX
Alpha
Cygwin
LinuxARM
LinuxSH4
SunOS4
SunOS5
IRIX6

include

lisp/Makefile
lisp/c/makedate.c

lisp/comp/*.c
lisp/comp/*.h
lisp/geo/*.c
lisp/geo/*.h
lisp/image/*.c
lisp/image/*.h
lisp/l/*.c
lisp/l/*.h
lisp/opengl/src/*.c
lisp/opengl/src/*.h
lisp/xwindow/*.c
lisp/xwindow/*h

*.aux
*.idx
*.ilg
*.ind
*.log
*.out
*.toc
*.hlp
*.dvi