# Travis Continuous Integration Configuration File
language:
  - cpp
compiler:
  - gcc
notifications:
  email:
    recipients:
      - euslisp@jsk.t.u-tokyo.ac.jp
    on_success: always #[always|never|change] # default: change
    on_failure: always #[always|never|change] # default: always
before_install: # Use this to prepare the system to install prerequisites or dependencies
  # Define some config vars
  - export CI_SOURCE_PATH=$(pwd)
  - export REPOSITORY_NAME=${PWD##*/}
  - echo "Testing branch $TRAVIS_BRANCH of $REPOSITORY_NAME"
  - sudo apt-get update -qq
  - sudo apt-get install -qq -y subversion gcc g++ libjpeg-dev libxext-dev libx11-dev libgl1-mesa-dev libglu1-mesa-dev libpq-dev libpng12-dev xfonts-100dpi xfonts-75dpi msttcorefonts
install: # Use this to install any prerequisites or dependencies necessary to run your build
  - cd ${HOME}
  - git clone http://github.com/euslisp/jskeus jskeus
  - ln -s $CI_SOURCE_PATH jskeus/eus
script: # All commands must exit with code 0 on success. Anything else is considered failure.
  - cd jskeus
  - make
  - source bashrc.eus
  - irteusgl irteus/test/irteus-demo.l
  - irteusgl irteus/test/all-robots-objects.l
after_failure:
  - echo "failure"

